@model Covoiturage.Models.Role

@{
    ViewData["Title"] = "Détails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Détails</h1>

<div>
    <h4>Rôle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>