@model Covoiturage.Models.Trajet

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";
}

<h1>Edit</h1>

<h4>Trajet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdVehicule" class="control-label"></label>
                <select asp-for="IdVehicule" class="form-control" asp-items="ViewBag.IdVehicule"></select>
                <span asp-validation-for="IdVehicule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depart" class="control-label"></label>
                <input asp-for="Depart" class="form-control" />
                <span asp-validation-for="Depart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrivee" class="control-label"></label>
                <input asp-for="Arrivee" class="form-control" />
                <span asp-validation-for="Arrivee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDepart" class="control-label"></label>
                <input asp-for="DateDepart" class="form-control" />
                <span asp-validation-for="DateDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixUniquePlace" class="control-label"></label>
                <input asp-for="PrixUniquePlace" class="form-control" />
                <span asp-validation-for="PrixUniquePlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

