/* _content/Covoiturage/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rz8ekify0m] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rz8ekify0m] {
  color: #0077cc;
}

.btn-primary[b-rz8ekify0m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rz8ekify0m], .nav-pills .show > .nav-link[b-rz8ekify0m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rz8ekify0m] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rz8ekify0m] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rz8ekify0m] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rz8ekify0m] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rz8ekify0m] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Covoiturage/Views/Shared/_LayoutAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-i14zdz306b] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-i14zdz306b] {
  color: #0077cc;
}

.btn-primary[b-i14zdz306b] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-i14zdz306b], .nav-pills .show > .nav-link[b-i14zdz306b] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-i14zdz306b] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-i14zdz306b] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-i14zdz306b] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-i14zdz306b] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-i14zdz306b] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Covoiturage/Views/Shared/_LayoutChauffeur.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fk61hhcrk0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fk61hhcrk0] {
  color: #0077cc;
}

.btn-primary[b-fk61hhcrk0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fk61hhcrk0], .nav-pills .show > .nav-link[b-fk61hhcrk0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fk61hhcrk0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fk61hhcrk0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fk61hhcrk0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fk61hhcrk0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fk61hhcrk0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Covoiturage/Views/Shared/_LayoutPassager.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kimhmeyogz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kimhmeyogz] {
  color: #0077cc;
}

.btn-primary[b-kimhmeyogz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kimhmeyogz], .nav-pills .show > .nav-link[b-kimhmeyogz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kimhmeyogz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kimhmeyogz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kimhmeyogz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kimhmeyogz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kimhmeyogz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
