@model Covoiturage.Models.Commission

@{
    ViewData["Title"] = "Modifier";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Modifier</h1>

<h4>Commission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Pourcentage" class="control-label">Pourcentage</label>
                <input asp-for="Pourcentage" class="form-control" />
                <span asp-validation-for="Pourcentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDecision" class="control-label">Date de décision</label>
                <input asp-for="DateDecision" class="form-control" />
                <span asp-validation-for="DateDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>